CORS_ORIGIN = http://localhost:3000,http://localhost:7000
CORS_METHODS = GET,HEAD,PUT,PATCH,POST,DELETE
CORS_ALLOWED_HEADERS = Content-Type, Authorization
CORS_CREDENTIALS = true
CORS_PREFLIGHT_CONTINUE = false
CORS_OPTION_SUCCESS_STATUS = 200

PORT = 7000

MONGODB_URI = Your MongoDB URL

REDIS_HOST = redis-14194.c264.ap-south-1-1.ec2.redns.redis-cloud.com
REDIS_PORT = 14194
REDIS_PASSWORD = Your Redis Password